extends layout

block content
  div.wrapper
    h1 Tic Tac Toe
    div.container
      div#one
        img
      div#two
        img
      div#three
        img
      div#four
        img
      div#five
        img
      div#six
        img
      div#seven
        img
      div#eight
        img
      div#nine
        img
    
  script(src="../javascripts/scripts.js")
