body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  width: 610px;
  height: 610px;
  font-size: 0;
}

.container > div {
  width:200px;
  height:200px;
  display: inline-block;
  overflow:auto;
}

#four, #five, #six {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#two, #five, #eight {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
