body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
  border: solid black 1px;

}

.container {
  width: 610px;
  height: 610px;
  font-size: 0;
}

.container > div {
  width:200px;
  height:200px;
  display: inline-block;
}
